body {
    margin: 0 auto;
    background-color: #C8E0F4;
    color: #031927;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#game-board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;
    width: 500px;
    height: 500px;
    background-color: #9DD1F1;
    font-size: 80px;
}

#game-message {
    margin-bottom: 20px;
}

#game-board div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-spot {
    border: 2px solid black;
}

.ver-middle-spot {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hor-middle-spot {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}