body {
    margin: 0 auto;
    background-color: #f1faee;
    color: #1d3557;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#game-setup {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#game-setup div {
    background-color:#a8dadc;
    padding: 0 40px 40px 40px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* .name-label {

} */

.name-input {
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #1d3557;
}

.name-btn {
    margin-top: 10px;
    color: #f1faee;
    border: none;
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    box-shadow:2px 2px 4px rgba(0, 0, 0, 0.4);
}

.player-ready {
    font-size: 30px;
    font-style: italic;
    color: #f1faee;
    position: absolute;
    bottom: 26px;
    left: 27%;
}

.x {
    color: #457b9d;
}

.o {
    color: #E63946;
}

#x-btn {
    background-color: #457b9d;
}

#o-btn {
    background-color: #E63946;
}

#game-board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;
    width: 500px;
    height: 500px;
    background-color: #a8dadc;
    font-size: 80px;
}

.game-over {
    color: grey;
}

#game-message {
    margin-bottom: 20px;
}

#game-board div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-spot {
    border: 2px solid #1d3557;
}

.ver-middle-spot {
    border-left: 2px solid #1d3557;
    border-right: 2px solid #1d3557;
}

.hor-middle-spot {
    border-top: 2px solid #1d3557;
    border-bottom: 2px solid #1d3557;
}